{% extends 'home/base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - TraderMotors</title>
    <link rel="stylesheet" href="{% static 'css/home/login.css' %}" />
  </head>
  <body>
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Usuário" required />
      <input type="password" name="password" placeholder="Senha" required />
      <button type="submit">Entrar</button>
    </form>
  </body>
</html>

{% endblock %}
